
header {
    background-image: url('../img/pattern.png');
    height: 125px;
    background-color: rgb(74, 134, 194);
    background-size: 500px;
    position: relative;
}

header img {
    width: 20%;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

thead {
    color: white;
    background-color: rgb(9, 157, 225);
}

th {
    min-width: 250px;
}

.article-info {
    color: grey;
    font-size: 25px;
}

.article-postdate {
    font-size: 20px;
}

.article-title {
    font-size: 40px;
}

.article-author {
    color: rgb(25, 137, 228);
}

.blue-background {
    background-color: aqua;
}

.highlight-text {
    background-color: yellow;
}