
header {
    background-image: url('../img/pattern.png');
    height: 125px;
    background-color: rgb(74, 134, 194);
    background-size: 500px;
    position: relative;
}

figure {
    margin-left: 0px;
}

ul {
    padding-left: 18px;
}

header img {
    width: 20%;
    position: absolute;
    bottom: 2px;
}

thead {
    color: white;
    background-color: rgb(9, 157, 225);
}

th {
    min-width: 250px;
}

#first-related {
    background-image: url(../img/monitor.jpg);
}

#second-related {
    background-image: url(../img/graph.jpg);
}

.related-article {
    width: 250px;
    height: 200px;
    color: white;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    padding: 2px;
}

.article-info {
    color: grey;
    font-size: 25px;
}

.article-postdate {
    font-size: 20px;
}

.article-title {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.article-author {
    color: rgb(25, 137, 228);
}

.blue-background {
    background-color: aqua;
}

.highlight-text {
    background-color: yellow;
}

.related-head {
    color: darkgray;
}